<!-- <h1 class="bg-info text-white p-3">Below List Of Users In Brain Payroll</h1>
<div class="mt-3">
    <button class="btn btn-primary" (click)="getUsers()">Click Here</button>
</div>
<br>

<button type="button" class="btn btn-warning" (click)="hideUser()">Hide Data</button>
<div *ngIf="status">
<table class="table table-bordered table-striped mt-3 bg-light">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>About</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.about }}</td>
        </tr>
    </tbody>
</table>
</div> -->
<!-- list-user.component.html -->

<!-- <h1 class="bg-info text-white p-3">Below List Of Users In Brain Payroll</h1>
<div class="mt-3">
  <button class="btn btn-primary" (click)="getUsers()">Click Here</button>
</div>
<br>

<button type="button" class="btn btn-warning" (click)="hideUser()">Hide Data</button>

<div *ngIf="!status" class="mt-3">
  <table class="table table-bordered table-striped bg-light">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>About</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.about }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
<!-- list-user.component.html -->

<h1 class="bg-info text-white p-3">Below List Of Active User</h1>
<div class="mt-3">
  <button class="btn btn-primary" (click)="getUsers()">Click Here</button>
</div>
<br>
<app-random-app></app-random-app>

<button type="button" class="btn btn-warning" (click)="hideUser()">Hide Data</button>

<div *ngIf="!status" class="mt-3">
  <!-- <img src="C:\\Users\\Admin\\Desktop\\brainpayroll-logo.svg" alt="Brain Payroll Logo" class="img-fluid" /> -->
  
  <!-- <img src="C:/Users/Admin/Desktop/brainpayroll-logo.svg" alt="Brain Payroll Logo" class="img-fluid" /> -->

  <table class="table table-bordered table-striped bg-light mt-3">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>About</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of user">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.about }}</td>
      </tr>
    </tbody>
  </table>
</div>
